<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="all" />
    <script src="/js/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="/js/selectivizr-min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.znice.css" media="all" />
    <script src="/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/js/jquery.znice.validate.js" type="text/javascript"></script>
    <script src="/js/jquery.znice.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.css" media="all" />
    <script src="/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="/js/modernizr.js" type="text/javascript"></script>
    <script src="/js/jquery.watermark.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" media="all" />
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <script src="/js/scr.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('time');
    </script>
    <script src="/js/pie.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 8]><script src="/js/oldie/warning.js"></script><script>window.onload=function(){e("/js/oldie/")}</script><![endif]-->
</head>
<body class="enterPage">
<div class="zHiddenBlock">

</div>
<div class="fullPagebg">
    {% block content %}
        <div class="mbox">
            <div class="bigTitle text-center">
                РУСГЕОКОМ
            </div>
            <div class="fullPagebg-center">
                <div class="grayForm zForm zNice bigMg-form">
                    <form>
                        <div class="grayForm-image text-center zForm-row">
                            <img src="images/formlogo.png" alt=""/>
                        </div>
                        <div class="zForm-row">
                            <input type="text" required="required" name="loginInp" data-image="images/input_logo1.png"/>
                        </div>
                        <div class="zForm-row">
                            <input type="password" required="required" name="passInp" data-image="images/input_logo2.png"/>
                        </div>
                        <div class="text-right zForm-link-row">
                            <a href="#" class="zForm-link">Забыли пароль</a>
                        </div>
                        <div class="zForm-row text-center">
                            <input type="submit" value="Войти" class="allWidth btn-lg"/>
                        </div>
                    </form>
                </div>
                <div class="fullPagebg-link text-center">
                    <a href="#">СОЗДАТЬ АККАУНТ</a>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>